.App {
  text-align: center;
 
  height: 100vh;
  box-sizing: border-box;
  background-image: url("https://ak.picdn.net/shutterstock/videos/33981247/thumb/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.container{
  box-flex-group: rgb(219, 253, 108);
  height: 20%;
  box-sizing: border-box;
}

/*#main{
  background-image: url("https://static5.depositphotos.com/1000875/537/v/600/depositphotos_5373161-stock-illustration-rain-vector-image-with-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #051f25e3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
